@use "@styles/base/_mixins.scss" as *;

.rating {
	display: flex;
	column-gap: toRem(10);
	&__star {
		position: relative;
		width: toRem(18);
		aspect-ratio: 1;
		flex-shrink: 0;
		img {
			position: absolute;
			inset-block-start: 0;
			inset-inline-start: 0;
			&:nth-child(2) {
				z-index: 2;
			}
		}
	}
}
