@use "@styles/base/_mixins.scss" as *;

.button {
	border: toRem(1) solid #000;
	border-radius: toRem(4);
	font-weight: 700;
	color: var(--text-accent);
	padding: toRem(13) toRem(31);
	text-transform: uppercase;
	transition:
		background-color 0.3s,
		color 0.3s;
	&--capitalize {
		text-transform: capitalize;
	}
	&--white {
		border-color: #fff;
		border-width: toRem(2);
		border-radius: toRem(6);
		font-size: toRem(20);
		color: #fff;
	}
	@media (any-hover: hover) {
		&:hover {
			background-color: #000;
			color: #fff;
		}
		&--white:hover {
			background-color: #fff;
			color: #000;
		}
	}
}
