@use "@styles/base/_mixins.scss" as *;
@use "@styles/base/_swiper.scss" as *;
@use "@styles/base/_animation.scss" as *;
@use "@styles/base/_variables.scss" as vars;

.promo {
	&__slider {
		position: relative;
		animation: smooth-show 0.8s forwards ease;
		aspect-ratio: vars.$maxWidthContainer / 646;
		.swiper-pagination {
			display: flex;
			align-items: center;
			padding-inline: toRem(40);
			position: absolute;
			width: 100%;
			height: toRem(16);
			bottom: toRem(24);
			left: 0;
			z-index: 1;
			justify-content: center;
			column-gap: toRem(14);
		}
	}
	&__info {
		display: flex;
		justify-content: center;
		align-items: center;
		aspect-ratio: vars.$maxWidthContainer / 646;
	}
}
