@use "@styles/base/_mixins.scss" as *;

.error-page {
	// .error-page__container
	&__container {
		padding-block: toRem(32);
		min-height: 100svh;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		row-gap: toRem(15);
	}
	// .error-page__title
	&__title {
	}
	// .error-page__link
	&__link {
	}
}
